<div class="header_details">
    <div class="container">
        <div>
            <a href="/api/{{module}}/list"><span>{{total}}</span> Totales</a>
        </div>
        <div>
            <a href="/api/{{module}}/list"><span>{{active}}</span> Activos</a>
        </div>
        <div>
            <a href="/api/{{module}}/list"><span>{{deleted}}</span> Eliminados</a>
        </div>
    </div>
</div>